<div class="bg-slate-200 p-10">
  <ul class="flex justify-center">
    <li>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="p-10 hover:bg-gray-100"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="about"
        routerLinkActive="active"
        class="p-10 hover:bg-gray-100"
        >About</a
      >
    </li>
    <li>
      <a
        routerLink="products"
        routerLinkActive="active"
        class="p-10 hover:bg-gray-100"
        >Products</a
      >
    </li>
    <li>
      <a
        routerLink="contact"
        routerLinkActive="active"
        class="p-10 hover:bg-gray-100"
        >Contact</a
      >
    </li>
  </ul>
</div>
